<tr>
    <td><%= transaction.title %></td>

    <td class="<%= transaction.type == 'income' ? "income_amount" : "expense_amount" %>">
        <%= transaction.type == 'income' ? "+" : "-" %>$<%= transaction.amount %>
    </td>

    <td class="<%= transaction.type == 'income' ? "income test1" : "expense test2" %>">
        <div><%= transaction.type %></div>
    </td>

    <td><%= transaction.createdAt %></td>
    <td>
        <a href="/balance/edit/<%= transaction.id %>">
            <img src="/img/edit.svg" alt="" srcset="">
        </a>
        <a href="/balance/delete/<%= transaction.id %>">
            <img src="/img/delete.svg" alt="" srcset="">
        </a>
    </td>
</tr>