<tr>
    <td><%= transaction.title %></td>
    <td><%= transaction.amount %></td>
    <td class="<%= transaction.type %>">
        <div><%= transaction.type %></div></td>
    <td><%= transaction.createdAt %></td>
    <td>
        <a href="/edit/<%= transaction.id %>">
            <img src="/img/edit.svg" alt="" srcset="">
        </a>
        <a href="/delete/<%= transaction.id %>">
            <img src="/img/delete.svg" alt="" srcset="">
        </a>
    </td>
</tr>